@import './fonts';
@import './colors';

@mixin heading-fonts {
	font-family: 'Space Mono', monospace;
	font-weight: bold;
}

@mixin heading-fonts-normal {
	font-family: 'Space Mono', monospace;
	font-weight: normal;
}

@mixin body-fonts-normal {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
}

@mixin body-fonts-bold {
	font-family: 'Source Sans Pro', monospace;
	font-weight: bold;
}

@mixin code-box {
	font-family: 'Space Mono', monospace;
	background: $grey;
	color: $white;
	-webkit-box-shadow: inset 0px 0px 65px -27px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 65px -27px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 65px -27px rgba(0,0,0,0.75);
}
