@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/_grid';
/* site main theme */
@import './colors';
@import './fonts';
@import './mixins';

html,
body {
	padding: 0;
	margin: 0;
}

body, * {
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	@include heading-fonts;
}

button,
input[type=submit],
input[type=button],
input[type=reset] {
	@include heading-fonts;
	outline: none;
	border: 6px solid #000;
	padding: 8px 15px;
	background: none;
	text-transform: capitalize;
	box-shadow: 10px 10px #000;
	transition: all 0.15s ease-in-out;

	&:active,
	&:visited,
  &:focus {
		outline: none;
	}
}

a {
	@include heading-fonts;
	color: $black;
	background: linear-gradient(to bottom, $black 0%, $black 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;

	&:hover,
  &:active,
  &:visited,
  &:focus {
		color: $white;
		text-decoration: none;
		background-size: 4px 50px;
	}
}

p,
span,
ul,
ol,
li,
div,
strong,
em,
b,
i,
u,
del,
ins,
sup,
sub,
small,
abbr,
q,
cite,
dfn,
mark,
input[type=text],
input[type=password],
textarea {
	@include body-fonts-normal;
}

strong, b, cite, q, {
	font-weight: bold;
}

mark {
	background: $highlighter;
	display: inline-block;
}

var, time {
	font-family: 'Space Mono', monospace;
}

blockquote {
	position: relative;
	&::before {
		display: inline-block;
		content: '';
		width: 4px;
		height: 100%;
		position: absolute;
		background: $black;
	}
	p {
		@include heading-fonts;
		font-style: italic;
		font-size: 24px;
		letter-spacing: 0;
		padding-left: 10px;
	}
	cite {
		padding-left: 10px;
		&::before {
			display: inline-block;
			content: '\2e3a';
		}
	}
}

pre {
	@include code-box;
	padding: 15px;
}

code {
	@include code-box;
	padding: 5px;
}

kbd {
	font-family: 'Space Mono', monospace;
}

samp {
	font-family: 'Space Mono', monospace;
	background: $light-grey;
	padding: 5px;
}